html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    max-width: 1500px;
    width: 90%;
}

html {
    background-color: #EAEDF4;
    font-size: 125%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
}

body p {
        line-height: 30px;
}

.topLogo {
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-size: 2.75rem;
    text-decoration: none;
    color: #232323;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    background-image: url(./assets/asset-1.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    display: flex;
    align-items: center;
}

.navBar {
    min-height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topLogo {
    transition: 0.3s ease;
}

.topLogo:hover {
    color: #fdc800;
}

.navMenu {
    display: flex;
    gap: 1.5rem;
}

.navLink {
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s ease;
}

.navLink:hover {
    color: #fdc800;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #232323;
}

.heroText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 7rem;
    font-weight: 100;
    margin: 0;
}

.heroText h2 {
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.sideNav {
    position: absolute;
    right: 5rem;
}

.sideLinks {
    margin: 20px 0;
}

.fa-brands {
    color: #fdc800;
    font-size: 1.25rem;
    transition: 0.5s ease;
}

.fa-brands:hover {
    color: #232323;
}

.about .wrapper {
    display: flex;
    justify-content: center;
}

.aboutTasty {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: 3rem auto;
    gap: 25px;
    text-align: center;
}

.aboutTasty h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 2.1rem;
}

.yellowBtn {
    background: #fdc800;
    font-weight: bold;
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.yellowBtn:hover {
    background-color: #232323;
    color: #fdc800 ;
}

.yellowBtn:active {
    transform: scale(0.97);
}

.quickLinks {
    background-color: #232323;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quickLinksContainers {
    margin: 0 3rem;
}

.logoLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f8f8f8;
    gap: 15px;
    transition: 0.3s ease;
    text-transform: uppercase;
}

.logoLinks i {
    font-size: 1.75rem;
}

.logoLinks:hover {
    color: #fdc800;
}

.gallery {
    background-color: #f8f8f8;
}

.galleryImgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.galleryImgs li {
    margin: 0;
}

.galleryImgs img {
    width: 100%;
    height: auto;
    max-height: 425px;
    margin: 60px 0;
}

.cookingTips {
    display: flex;
}

.articles p {
    width: 40%;
    margin: 25px 0;
}

.cookingText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
    text-align: center;
}

.cookingImg {
    width: 50%;
}

.articles img {
    display: block;
    width: 100%;
    height: auto;
}

.popRecipes {
    display: flex;
    flex-direction: row-reverse;
}

.popText {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popImg {
    width: 50%;
}

.smallBtn {
    background: #fdc800;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.smallBtn:hover {
    background: #232323;
    color: #fdc800;
}

.smallBtn:active {
    transform: scale(0.97);
}

.cook {
    background: #fff;
    padding: 50px 0;
}

.cookContainer {
    display: flex;
    align-items: center;
}

.cookImg {
    width: 30%;
    margin: 50px 50px 50px 0;
}

.cook img {
    width: 100%;
    height: auto;
}

.cookText {
    width: 80%;
}

.cookText h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 2.1rem;
}

.cookText p {
    margin: 25px 0;
}

.contact {
    background-color: #232323;
    color: #EAEDF4;
    padding: 75px 0;
}

.contact .wrapper {
    display: flex;
    justify-content: space-between;
}

.contact li, .contact a, .contact p {
    margin: 10px 0;
    color: #EAEDF4;
    font-size: 0.75rem;
}

.bottomNav a:hover, .bottomRecent a:hover {
    color: #fdc800;
}

.contact .form {
    width: 45%;
}

.contact h4 {
    color: #fff;
    text-transform: uppercase;
}

.form input {
    width: 75%;
    margin: 0;
    padding: 0 25px;
    border: none;
    height: 40px;
    font-size: 0.8rem;
    vertical-align: bottom;
    margin-right: -5px;
}

.form button {
    background: #fdc800;
    font-size: 0.8rem;
    font-weight: bold;
    width: 25%;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
        vertical-align: bottom;

}

footer {
    background-color: #000;
    color: #232323;
    display: flex;
    justify-content: center;
}

@media (max-width: 1160px) {
    .cookingText p, .popText p {
        width: 80%;
    }
}

@media (max-width: 894px) {
    .cookingTips, .popRecipes {
        flex-direction: column;
    }

    .cookingText, .cookingText p, .popText, .popText p {
        width: 100%;
        margin: 30px 0;
        padding: 0 10px
    }

    .cookingImg, .popImg {
        width: 100%;
    }

    .cookContainer {
        flex-direction: column;
    }

    .cookImg {
        width: 50%;
        margin: 35px;
    }

    .cookText {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 50px 0;
    }

    .cookText h3 {
        text-align: center;
    }

    .cookText p {
        font-size: 0.8rem;
        line-height: 1.25rem;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navMenu {
        position: fixed;
        right: -100%;
        top: 100px;
        gap: 0;
        width: 100%;
        /* height: 100%; */
        flex-direction: column;
        align-items: center;
        background-color: rgba(231, 231, 231, 0.85);
        transition: 0.3s;
    }

    .navItem {
        margin: 16px 0;
    }

    .navMenu.active {
        right: 0;
    }

    .sideNav {
        display: none;
    }

    .contact .wrapper {
        flex-direction: column-reverse;
        width: 100%;
        margin: 0;
    }

    .contact .form {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 95%;
        margin: 5px auto;
    }
    .form input, .form button {
        width: 100%;
        margin: 5px 0;
        text-align: center;
    }
    .form input::placeholder {
        opacity: 1;
    }

    .bottomContact {
        text-align: center;
    }

    .bottomNav, .bottomRecent {
        text-align: center;
        margin: 10px 0;
    }

    .bottomNav ul {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .bottomNav li {
        padding: 0 10px;
        text-transform: uppercase;
        border-right: 1px solid #f8f8f8;
    }

    .bottomNav li:nth-child(4) {
        border-right: none;
    }
}

@media (max-width: 560px) {
    h1 {
        font-size: 5rem;
    }
    .heroText h2{
        font-size: 1rem;
    }

    .aboutTasty {
        width: 95%;
    }

    .quickLinks {
        flex-direction: column;
        padding: 50px 0;
        gap: 45px;
    }

    .gallery .wrapper{
        margin: 0;
        width: 100%;
    }

    .galleryImgs img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: block;
    }

    .galleryImgs li:nth-child(3) {
        display: none;
    }

    .bottomRecent {
        display: none;
    }

    
}